on:
  schedule:
    - cron: "17 17 10,20 * *"

permissions:
  contents: write
  pull-requests: write

env:
  USER_AGENT: ${{ secrets.USER_AGENT }}

jobs:
  fetch:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v5

    - name: Fetching new entries
      run: go run main.go

    - name: Create Pull Request
      uses: peter-evans/create-pull-request@v7
      with:
        branch: automated-fetch
        commit-message: Updating etfs data
        sign-commits: true
        title: "[GitHub Action] Updating etfs data"
